@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




body, html{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background: url(../img/fundo3.png)no-repeat;
    background-position-x: -500px;
    background-size: cover;
    overflow-x: hidden;
}

nav{
    margin-right: 5vw;
    height: 5vh;
    width: 40vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

}

ul{
    display: flex;


}
li{
    list-style: none;
    
}
li > a{
    text-decoration: none;
    position: relative;
    color: #fac0947c;
    font-size: 1em;
    letter-spacing: 0.5px;
    padding: 0 10px;
   
}

li > a::after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}

li > a:hover::after{
    width: 100%;

}

a:hover{
    color: #FFFFFF;

}

main{
    width: 99vw;
    height: 100vh;
    color: white;
    position: relative;
    
}



.player{
    display: inline;
    margin: auto;
    left: 70%;
    color: white;
    background-color: #ffffff42;
    border-radius: 15px;
    text-align: center;
}


.player > img{
    width: 100px;
    display: block;
    margin: auto;
    
}

audio{
    display: block;
    margin: auto;
    height: 120px;
}



.container__principal{
    position: absolute;
    top: 70%;
    padding: 5px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

fieldset{
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
}
